.page {
   max-width: 821px;
   margin: 0 auto;
   padding: 12px;
}

.page-content {
    font-size: 24px;
    color: rgb(0, 55, 255);
    font-weight: 600;
}

.product {
    margin-top: 30px;
    max-width: 720px;
    background-color: #fff;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
    gap: 24px;
    font-family: sans-serif;
}

.main {
    font-size: 20px;
    font-weight: 500;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info {
    display: flex;
    gap: 16px;
}

.content-input {
    border: 1px solid #ddd;
    padding: 4px;
}

.content-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.field {
    border: 1px solid #ddd;
    padding: 4px;
    height: 50px;
}

.form-label {
    color: gray;
}

.display {
    color: grey;
    font-size: 13px;
}

.content-button {
    margin-top: 12px;
    padding: 6px;
    background: blue;
    border-radius: 4px;
    color: #fff;
    width: 100%;
}

.cool {
    display: flex;
}

.product-2 {
    margin-top: 30px;
    max-width: 800px;
    background-color: #fff;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
    gap: 24px;
    font-family: sans-serif;
}

.hero-button {
    position: absolute;
    left: 950px;
    top: 400px;
    background-color: rgb(0, 85, 255);
    padding: 8px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    max-width: 200px;
    width: 100%;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.gray {
    font-size: 18px;
    font-weight: 700;
}

.product-description {
    font-size: 14px;
    font-weight: 540;
    color: #000;
}

.cool-2 {
    display: block;
}

.product-id {
    margin-top: 8px;
    font-size: 14px;
    color: grey;
}

.price {
    margin-top: 8px;
    font-weight: bold;
}

.cool-2 {
    display: flex;
}

.edit {
    margin-top: 10px;
    margin-left: 105px;
    color: rgb(0, 89, 255);
}

.edit-2 {
    margin-top: 10px;
    margin-left: 115px;
    color: rgb(0, 89, 255);
}

.info-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.page-content-2 {
    font-size: 24px;
    color: rgb(0, 55, 255);
    font-weight: 600;
    margin-top: 12px;
}

.delete {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.content-product {
    margin-top: 12px;
    padding: 6px;
    background: rgb(0, 98, 255);
    border-radius: 4px;
    color: #fff;
    width: 100%;
}

.content-delete {
    margin-top: 12px;
    padding: 6px;
    background: red;
    border-radius: 4px;
    color: #fff;
    width: 100%;
}