<div class="padding">
  <div class="product">
    <h6 class="message">Операція успішна</h6>
      <div class="cool">
        <div class="hero-1">Замовлення успішно було створено</div>
        <a href="/purchase-list" class="hero-button">Повернутись назад</a>
      </div>
  </div>
</div>