body {
    font-family: sans-serif;
}

main {
    padding: 24px;
}

.product {
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 700px;
    background-color: #fff;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
    gap: 24px;
    font-family: sans-serif;
}

.hero-1 {
    margin-top: 12px;
}

.message {
    font-size: 24px;
    font-weight: 700;
}

.cool {
    display: flex;
}

.hero-button {
    margin-left: 350px;
    background-color: rgb(0, 85, 255);
    padding: 8px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    max-width: 200px;
    width: 100%;
    text-decoration: none;
    position: relative;
    top: -10px;
}

.hero {
    margin-top: 12px;
    border: 1px solid;
    padding: 12px;
    width: 280px;
    border-radius: 12px;
}

.product-2 {
    padding: 12px;
    margin-bottom: 10px;
}

.title {
    font-size: 30px;
    color: blue;
    font-weight: 700;
}

.section {
    padding: 12px;
    gap: 20px;
    display: flex;
}

.user {
    margin-top: 12px;
    font-size: 16px;
}

.picture {
    width: 200px;
    height: 200px;
}

.map {
    gap: 20px;
    width: 260px;
}

.picture-title {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 700;
}

.picture-description {
    margin-top: 12px;
    font-size: 14px;
    margin-bottom: 30px;
}

.picture-description-3 {
    width: 260px;
    margin-top: 12px;
    font-size: 14px;
    margin-bottom: 30px;
}

.picture-button {
    width: 190px;
    text-align: center;
    color: rgba(0, 128, 0, 1);
    text-decoration: none;
    border: 1px solid;
    border-radius: 24px;
    padding: 12px;
}

.picture-button:hover {
    background: rgba(0, 128, 0, 1);
    color: #fff;
}

.buttons {
    gap: 12px;
    display: grid;
}

.picture-button-2 {
    width: 140px;
    text-align: center;
    color: rgba(0, 80, 255, 1);
    text-decoration: none;
    border: 1px solid;
    border-radius: 24px;
    padding: 12px;
}

.picture-button-2:hover {
    background: rgba(0, 80, 255, 1);
    color: #fff;
}

.picture-button-3 {
    width: 250px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 80, 255, 1);
    text-decoration: none;
    border-radius: 8px;
    padding: 12px;
}