<section class="section-2">
    <form action="purchase-update?id={{id}}" method="POST">
      <div class="product-shadow-2">
        <h6 class="info">Зміна данних</h6>
        <div class="shadow-id alert-label">ID:</div>
        <div class="shadow-number right">54872</div>
       {{#with data}}
        <div class="alert">
            <div class="alert-box">
              {{> field label="Прізвище:" name='lastname' value=lastname}}
              {{> field label="Ім'я:" name='firstname' value=firstname}}
            </div>
            <div class="alert-box">
              {{> field label="Електронна пошта:" name='email' value=email}}
              {{> field label="Телефон:" name='phone' value=phone}}
            </div>
            <button><div class="shadow-button">Зберегти зміни</div></button>
        </div>
       {{/with}}
     </div>
    </form>
</section>
