<section class="section-2">
      <div class="product-shadow-2">
        <h6 class="info">Ваше замовлення</h6>
        <div class="margin">
            <div class="price-section">
               <div class="shadow-id right">Комп'ютер Artline Gaming (X43v31) AMD Ryzen 5 3600</div>
               <div class="price">113 109₴</div>
            </div>
            <div class="price-section">
               <div class="shadow-number right">Вартість доставки</div>
               <div class="price">150₴</div>
            </div>
        </div>
        <h6 class="space">Оформлення замовлення</h6>
        <div class="alert-2">
            <div class="alert-box">
                <div class="alert-section">
                  <label for="" class="alert-label">Прізвище:</label>
                  <input type="text" class="alert-input">
                </div>
                <div class="alert-section">
                  <label for="" class="alert-label">Ім'я:</label>
                  <input type="text" class="alert-input">
                </div>
            </div>
            <div class="alert-box">
                <div class="alert-section">
                  <label for="" class="alert-label">Електронна пошта:</label>
                  <input type="text" class="alert-input">
                </div>
                <div class="alert-section">
                  <label for="" class="alert-label">Телефон:</label>
                  <input type="text" class="alert-input">
                </div>
            </div>
        </div>
        <div class="alert-section-2">
            <label for="" class="alert-label">Коментар</label>
            <input type="text" class="alert-input case">
        </div>
        <div class="comment">Коментар буде передано кур’єру</div>
        <div class="alert-box">
            <div class="alert-section">
                <label for="" class="alert-label">Списати бонуси</label>
                <input type="text" class="alert-input">
            </div>
            <div class="alert-section">
                <label for="" class="alert-label">Промо-код</label>
                <input type="text" class="alert-input">
            </div>
        </div>
        <div class="price-2">Всього: 113109₴ (+1131,09₴ на бонусний рахунок)</div>
        <p class="shadow-button">Оформити замовлення</p>
      </div>
    </section>