<div class="section-2">
      <div class="product-shadow-2">
        <h6 class="info">Ваше замовлення</h6>
        <div class="margin">
            <div class="price-section">
               <div class="shadow-id right">Комп'ютер Artline Gaming (X43v31) AMD Ryzen 5 3600</div>
               <div class="price">113 109₴</div>
            </div>
            <div class="price-section">
               <div class="shadow-number right">Вартість доставки</div>
               <div class="price">150₴</div>
            </div>
        </div>
        <h6 class="space">Оформлення замовлення</h6>
      {{#with data}}
        <form method="POST" action="/purchase-submit?id={{id}}">
            <div class="cart__block">
              {{> field label='Прізвище' name='lastname' value=lastname}}
              {{> field label="Ім'я" name='firstname' value=firstname}}
            </div>
            <div class="cart__block">
              {{> field label='Мобільний телефон' name='phone' value=phone}}
              {{> field label="Електронна пошта" name='email' value=email}}
            </div>
              {{> field label='Коментар' name='comment'}}
            <small class='form__label--small'>Коментар буде передано кур’єру</small>
            <div class="cart__block">
              {{> field label='Списати бонуси' name='bonus'}}
              {{> field label="Промо-код" name='promocode'}}
            </div>
            <strong class="accent-text">Всього: {{totalPrice}} грн (нараховано {{bonus}} грн бонусів)</strong>
            {{> field value=totalPrice name='totalPrice' disabled=true}}
            {{> field value=productPrice name='productPrice' disabled=true}}
            {{> field value=deliveryPrice name='deliveryPrice' disabled=true}}
            {{> field value=amount name='amount' disabled=true}}
            <button class="shadow-button">Оформити замовлення</button>
        </form>
      {{/with}}
</div>