<div class="padding">
      <section class="section-2 padding">
      <div class="product-shadow">
        <h6 class="info">Інформація про замовлення</h6>
        <div class="shadow-id">ID:</div>
        <div class="shadow-number">54872</div>
        <div class="divider-2"></div>
        <div class="box">
            <div class="name">
                <div class="shadow-name">Ім'я:</div>
                <div class="shadow-name-2">Олександр</div>
            </div>
            <div class="name">
                <div class="shadow-name">Прізвище:</div>
                <div class="shadow-name-2">Семенов</div>
            </div>
            <div class="name">
                <div class="shadow-name">Телефон:</div>
                <div class="shadow-name-2">+380951234567</div>
            </div>
            <div class="name">
                <div class="shadow-name">Електронна пошта:</div>
                <div class="shadow-name-2">o.semenov@example.com</div>
            </div>
        </div>
        <div class="divider-2"></div>
        <div class="box-2">
            <div class="name">
              <div class="shadow-name">Назва товару:</div>
              <div class="shadow-name-2">Комп'ютер Artline Gaming (X43v31) AMD Ryzen 5 3600</div>
            </div>
            <div class="name">
               <div class="shadow-name">Коментар:</div>
               <div class="shadow-name-2">Подзвонити за 30 хв</div>
            </div>
        </div>
        <div class="divider-2"></div>
        <div class="box">
            <div class="name">
                <div class="shadow-name">Вартість товарів:</div>
                <div class="shadow-name-2">113 109₴</div>
            </div>
            <div class="name">
                <div class="shadow-name">Вартість доставки:</div>
                <div class="shadow-name-2">150₴</div>
            </div>
            <div class="name">
                <div class="shadow-name">Сума до сплати:</div>
                <div class="shadow-name-2">113 109₴</div>
            </div>
            <div class="name">
                <div class="shadow-name">Нараховані бонуси:</div>
                <div class="shadow-name-2">1131.09₴</div>
            </div>
        </div>
        <div class="divider-2"></div>
        <a href="/purchase-create?id={{id}}">
            <div class="shadow-button">Змінити дані</div>
        </a>
      </div>
</section>
   <section class="avenger">
        <h6 class="avenger-title">Мої замовлення</h6>
        <div class="avenger-box">
            <p class="avenger-id">ID: 14587</p>
            <div class="name-3">
                <div class="avenger-name">Товари</div>
                <div class="avenger-name-2">Футбольний м'яч</div>
            </div>
            <div class="name">
                <div class="avenger-name">Сума замовлення</div>
                <div class="avenger-name-2">1 260.75₴</div>
            </div>
            <div class="name">
                <div class="avenger-name">Нараховані бонуси</div>
                <div class="avenger-name-2">12.60₴</div>
            </div>
        </div>
        <div class="divider-1"></div>
        <div class="avenger-box">
            <p class="avenger-id">ID: 14602</p>
            <div class="name">
                <div class="avenger-name">Товари</div>
                <div class="avenger-name-2">Смартфон Xiaomi Redmi Note 10</div>
            </div>
            <div class="name">
                <div class="avenger-name">Сума замовлення</div>
                <div class="avenger-name-2">5 599.00₴</div>
            </div>
            <div class="name">
                <div class="avenger-name">Нараховані бонуси</div>
                <div class="avenger-name-2">55.99₴</div>
            </div>
        </div>
        <div class="divider-1"></div>
        <div class="avenger-box">
            <p class="avenger-id">ID: 14619</p>
            <div class="name-5">
                <div class="avenger-name">Товари</div>
                <div class="avenger-name-2">Телевізор Samsung 55" 4K Ultra HD</div>
            </div>
            <div class="name-7">
                <div class="avenger-name">Сума замовлення</div>
                <div class="avenger-name-2">22 999.00₴</div>
            </div>
            <div class="name">
                <div class="avenger-name">Нараховані бонуси</div>
                <div class="avenger-name-2">229.99₴</div>
            </div>
        </div>
        <div class="divider-1"></div>
        <div class="avenger-box">
            <p class="avenger-id">ID: 14624</p>
            <div class="name">
                <div class="avenger-name">Товари</div>
                <div class="avenger-name-2">Акустична система JBL Charge 4</div>
            </div>
            <div class="name-8">
                <div class="avenger-name">Сума замовлення</div>
                <div class="avenger-name-2">4 999.00₴</div>
            </div>
            <div class="name">
                <div class="avenger-name">Нараховані бонуси</div>
                <div class="avenger-name-2">49.99₴</div>
            </div>
        </div>
        <div class="divider-1"></div>
        <div class="avenger-box">
            <p class="avenger-id">ID: 14631</p>
            <div class="name-6">
                <div class="avenger-name">Товари</div>
                <div class="avenger-name-2">Фотокамера Canon EOS M50</div>
            </div>
            <div class="name-8">
                <div class="avenger-name">Сума замовлення</div>
                <div class="avenger-name-2">24 750.00₴</div>
            </div>
            <div class="name">
                <div class="avenger-name">Нараховані бонуси</div>
                <div class="avenger-name-2">247.50₴</div>
            </div>
        </div>
    </section>
</div>